$_concrete: #f3f3f3
$_black: #000000
$_white: #ffffff
$_alabaster: #F8F8F8
$_jungle-green: #2aa790
$_red-orange: #ff2525

$primary-color: $_jungle-green

$background-light-color: $_concrete
$background-extra-light-color: $_alabaster
$background-white: $_white

$text-color: $_black
$text-inverted-color: $_white
$text-primary-color: $_jungle-green

$success-color: $_jungle-green
$error-color: $_red-orange

$btn-default-color: $_white
$btn-default-bg-color: $_jungle-green
$btn-primary-color: $_white
$btn-danger-color: $_red-orange

$border-color-inverted: $_white
$border-color-primary: $_jungle-green

$paginator-bg-color: $_white
$paginator-bg-color-hover: $_jungle-green